<%= render 'layouts/navbar' %>


<!--編集フォーム-->
<!--container,wrapperは新規登録と同じクラス-->
<div class="container">
  <div class="wrapper">
    
    <div class="edit">
      <h2>ユーザー編集ページ</h2>
    </div>
    
    <%= form_with(model: @user, local: true) do |f| %>
    
     <div class="form">
       <%= f.label :image, '画像' %>
       <%= f.file_field :image, class: 'form-control image-form' %>
       <div class="direction">
          <p>※拡張子が「gif」「jpg」「png」の写真のみアップロード可能です。</p>
        </div>
     </div>
    
      <div class="form">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form">
        <%= f.label :introduce_comment, '自己紹介文' %>
        <%= f.text_area :introduce_comment, class: 'introduce-form-control' %>
      </div>
      
      <%= f.submit '更新する', class: 'edit-btn' %>
    <% end %>

  </div>
</div>
<%= render 'layouts/footer' %>