<%= render 'layouts/navbar' %>
<div class="container">
  <div class="wrapper">
    
  <!--ユーザーの見出し-->
  <div class="user-top">
    
    <!--プロフィール画像-->
    <% if @user.image? %> 
      <p>
        <%= image_tag @user.image.url %>
      </p>
    <% else %>
      <%= image_tag 'default.png' %>
    <% end %>
      
      <!-- ユーザーの名前-->
      <div class="user-name">
        <%= @user.name %>
      </div>
      
      <!-- ユーザーの紹介文-->
      <% if @user.introduce_comment? %>
        <div class="user-introduction">
          <%= @user.introduce_comment %>
        </div>
      <% end %>
      
      <!--ユーザー情報編集ページへのリンクボタン-->
      <% if current_user == @user %>
        <div class="edit-link">
          <%= link_to 'プロフィールを編集する', edit_user_path(@user), class: 'edit-link-btn' %>
        </div>
      <% else %>
        <div class="follow-link">
          <%= render 'relationships/follow_button', user: @user %>
        </div>
      <% end %>
      
      <!--ユーザー退会ボタン-->
      <% if current_user == @user %>
        <div class="delete-link">
          <%= link_to '退会する方はこちら', @user, method: :delete, data: { confirm: '本当に退会してよろしいでしょうか?' }, class: 'delete-link-btn' %>
        </div>
      <% end %>
    </div><!--ここまでuser-top-->
    
    <!--ユーザーの投稿やフォローしたユーザー等に関すること-->
    <div class="user-bottom">
      <ul class="nav-tabs">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-post <%= 'active' if current_page?(user_path(@user)) %>">投稿</a></li>
        <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-follow <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー</a></li>
        <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-follower <%=  'active' if current_page?(followers_user_path(@user)) %>">フォロワー</a></li>
        <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-like <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り</a></li>
      </ul>
      <%= render 'posts/posts', posts: @posts %>

      <!--ページネーション-->
      <div class="pagination">
        <%= paginate @posts %>
      </div>

    </div><!--ここまでがuser-bottom-->
  </div>
</div>

<%= render 'layouts/footer' %>
