<%= render 'layouts/navbar' %>
<div class="wrap-video">

    <!--wrap-video上の見出しと新規登録ボタン-->
    <div class="text">
      <% if logged_in? == false %>
        <div>
          <%= link_to 'ゲストとしてログインする', guest_login_path, method: :post, class: 'sign-up' %>
        </div>
      <% end %>
      <div class="about">
        <%= link_to 'with exoとは', about_path, class: 'about-btn' %>
      </div>
    </div>
    
    <!--スライドショー-->
    <ul id="slick">
      <li><%= image_tag 'slick01.jpg' %></li>
      <li><%= image_tag 'slick02.jpg' %></li>
      <li><%= image_tag 'slick03.jpg' %></li>
      <li><%= image_tag 'slick04.jpg' %></li>
      <li><%= image_tag 'slick05.jpg' %></li>
      <li><%= image_tag 'slick06.jpg' %></li>
    </ul>

</div>

<!--投稿一覧-->
<div class="all-post">

  <% if logged_in? %>
    <h1>仲間の投稿</h1>
    <%= render '/posts/posts', posts: @feed_posts %>
    <div class="pagination">
      <%= paginate @feed_posts %>
    </div>
  <% else %>
    <h1>最新の投稿</h1>
    <%= render '/posts/posts', posts: @posts %> 
    <div class="pagination">
      <%= paginate @posts %>
    </div>
  <% end %>

</div>

<%= render 'layouts/footer' %>
