<div class="container">
  <div class="wrapper">
    
    <!--投稿詳細ページ-->
    <div class="show-post">
      <div class="show-post-top">
        
        <!--ユーザープロフィール画像-->
        <% if @post.user.image? %> 
          <p>
            <%= image_tag @post.user.image.url %>
          </p>
        <% else %>
          <p>
            <%= image_tag 'default.png' %>
          </p>
        <% end %>
        
        <!--ユーザー名-->
        <div class="show-user-name">
          <%= @post.user.name %>
          <span>さん</span>
        </div>
        
        <!--投稿した時-->
        <div class="show-post-ocation">
          <span>投稿時間：</span>
          <%= l @post.created_at %>
        </div>
        
      </div><!--ここまでshow-post-top-->
      
      <div class="show-post-bottom">
        
        <!--投稿画像-->
        <div class="show-post-image">
          <% if @post.post_image? %> 
            <p>
              <%= image_tag @post.post_image.url %>
            </p>
          <% else %>
            <p>
              <%= image_tag 'default.png' %>
            </p>
          <% end %>
        </div>
        
        <!--ペットの種類-->
        <div class="show-species">
          <p>ペットの種類</p>
          <div class="pet-species">
            <%= @post.species %>
          </div>
        </div>
        
        <!--投稿内容-->
        <div class="show-post-content">
          <p>投稿内容</p>
          <div class="show-content">
            <%= safe_join(@post.content.split("\n"), tag(:br)) %>
          </div>
        </div>
        
        <!--コメントといいねの数と投稿削除ボタン-->
        <div class="show-count-delete">
          <div class="show-count">
            <p>コメント○　いいね○</p>
          </div>
          
          <!--投稿削除ボタン-->
          <% if current_user == @user %>
            <div class="show-delete">
              <%= link_to 'コメントを削除する', @post, method: :delete, data: { confirm: '本当に削除してよろしいでしょうか?' } %>
            </div>
          <% end %>
        </div>
        
      </div><!--ここまでshow-post-bottom-->
      
    </div><!--show-post-->
  </div><!--wrapper-->
</div><!--container-->