<header>
  
 <!--wrap-video上のヘッダー-->
 <nav class="header-top-wrapper">
   <div class="logo">
     <%= link_to image_tag('/header/header-logo-top (2).png', { :alt => 'ロゴ画像'}), root_path %>
   </div>
   
   <!--ログインしている場合のヘッダーメニュー-->
   <% if logged_in? %>
    <div class="global-nav-top">
      <ul>
        <li><%= link_to 'ホーム', root_path %></li>
        <li><%= link_to 'マイページ', current_user %></li>
        <li><%= link_to 'ユーザー', users_path %></li>
        <li><%= link_to 'すべての投稿', posts_path %></li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      </ul>
      
      <!--投稿作成ボタン-->
      <div class="top-post">
        <%= link_to new_post_path do %>
          <i class="far fa-edit fa-lg"><span>投稿</span></i>
        <% end %>
      </div>
    </div>
    
    <!--1200px以下の際に表示するヘッダーメニュー-->
    <div class="header-modal-wrapper">
      
      <!--ハンバーガーメニュー-->
      <div class="humberger-menu">
        <i class="fas fa-bars"></i>
      </div>
      
      <!--投稿ボタン-->
      <div class="top-post">
        <%= link_to new_post_path do %>
          <i class="far fa-edit fa-lg"><span>投稿</span></i>
        <% end %>
      </div>

    </div><!--ここまでがhumberger-menu-->
    
    <!--gobal-navのモーダル-->
    <div class="nav-modal-wrapper">
      <div class="modal">
        
        <!--モーダルcloseボタン-->
        <div id="modal-close-btn">
          <i class="fas fa-times fa-3x"></i>
        </div>
        
        <!--モーダルメニュー-->
        <div id="global-nav-menu">
          <ul>
            <li><%= link_to 'home', root_path %></li>
            <li><%= link_to 'mypage', current_user %></li>
            <li><%= link_to 'user', users_path %></li>
            <li><%= link_to 'posts', posts_path %></li>
            <li><%= link_to 'logout', logout_path, method: :delete %></li>
          </ul>
        </div>
      </div><!--ここまでmodal-->
    </div><!--ここまでnav-modal-wrapper-->
    <% else %>
    
    <!--ログインしていない場合-->
    <div class="header-login-btn">
      <%= link_to 'ログイン', login_path, class: 'header-btn log-btn' %><%= link_to '新規登録', signup_path, class: 'header-btn sign-btn' %>
    </div>
   <% end %>
 </nav>
   
</header>
